# Key, private file
certificate/*
eb-flask/setting.py

# Programming Files
*.iml
place.json
tweetMessi.json
eb-flask/__pycache__
eb-flask/log.txt
#.gitignore

# not related
frontend/boot*
frontend/examples/*
FoodTrucks/*
elasticsearch-2.2.0*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
