<p>
  <button onclick="logger.clear()">Clear log</button>
  <button onclick="closeConnection()">Stop reconnections</button>
  <span id="connection">Connecting...<div></div></span>
</p>
<div class="border" id="log"></div>
<div class="border" id="right-panel"><div>The clock before is implemented using HTML5 <code>&lt;canvas&gt;</code> and
  </code><a href="http://www.html5rocks.com/tutorials/sse/basics/">Server-Sent Events</a>.
  The server's time is pushed to the client every 5 seconds using a single open connection.
  The server is set to break connections lasting longer than 10 seconds. However, the browser
  automatically reconnects SSEs ~3 seconds after dropped connections!</div>
  <canvas class="CoolClock::140:::showDigital" title="Server Sent Events are powering this clock"></canvas>
</div>